DBT_SNOWFLAKE_ACCOUNT=<your-snowflake-account>
DBT_SNOWFLAKE_USER=<your-snowflake-user>
DBT_SNOWFLAKE_PASSWORD=<your-snowflake-password>
DBT_SNOWFLAKE_ROLE=TRANSFORMER
DBT_SNOWFLAKE_WAREHOUSE=ANALYTICS_DEV_WH
DBT_SNOWFLAKE_DATABASE=EVENT_TRACKING
DBT_SNOWFLAKE_TARGET_SCHEMA=ANALYTICS_SEMANTIC_DEV
DBT_SNOWFLAKE_ICEBERG_SCHEMA=ICEBERG_CUSTOMER_ANALYTICS
